<!--
 * @category Scandiweb
 * @package ScandiPWA\Logger
 * @author Ilja Lapkovskis <info@scandiweb.com / ilja@scandiweb.com>
 * @author Ricards Rikmanis <info@scandiweb.com / ricards@scandiweb.com>
 * @copyright Copyright (c) 2020 Scandiweb, Ltd (http://scandiweb.com)
 * @license Apache-2.0
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="ScandiPWA_Logger" setup_version="1.0.0" />
</config>
